[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synapse = "*"
aiohttp = "*"

[dev-packages]
black = "*"
build = "*"
pylint = "*"
setuptools = "*"
sphinx = ">=8.0.0"
tomlkit = "*"
twine = "*"
pytest = "*"
myst-parser = "*"
shibuya = "*"

[requires]
python_version = "3.11"
