[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synapse = "*"
marko = "*"
aiohttp = "*"

[dev-packages]
black = "*"
build = "*"
pylint = "*"
setuptools = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tomlkit = "*"
twine = "*"
pytest = "*"

[requires]
python_version = "3.11"
